@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Nunito:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-auto-rows: 15rem; */
}
 .cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Adapte os valores conforme necessário */
    grid-column: 1 / 13;
    /* grid-row: 1 / 2 */
    height: 17vh;
    gap: 5rem;
 }
.cabecalho .logo{
    width: 7rem;
    height: 7rem;
    border-radius: 5rem 5rem;
}

.cabecalho .titulo{

}
.cabecalho .menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.cabecalho .menu li a:hover{
    background-color: rgb(100, 99, 99);
    border-radius: 1rem;
}
.cabecalho a{
    text-decoration: 0;
    color: white;
    font-size: 2rem;
}

.cabecalho .menu a {
    padding: 0 1rem; /* Adapte os valores conforme necessário */
}
.cabecalho .logo a img{
    max-width: 100%;
    border-radius: 1rem;
} 

main {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto; /* Três linhas automáticas */
    gap: 20px; /* Espaço entre as áreas */
}

.frase-de-efeito {
    grid-column: 3 / 11;
    grid-row: 1; /* Ocupa a primeira linha */
    justify-content: center;
    background-color: skyblue;
    align-items: center;
    border-radius: 5rem;
    margin-top: 3rem;
}

.oferta-do-dia {
    grid-column: 1 / 13;
    grid-row: 2; /* Ocupa a segunda linha */
    background-color: gold;
    padding: 20px; /* Adicione algum espaçamento interno */
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 3rem;
}

.oferta-do-dia img{
    max-width: 20%;
    border-radius: 2rem;

}
.frase-de-efeito p{
    margin: 1rem;
    font-size: 2.3rem;
}